extends ./layout
block variables
  - title = "easyJet Roster Engine"
block body
  section.intro
    p.highlight easyJet Roster Engine
    :markdown-it
      Automation of the roster for Operations staff

      ### TODO
      * Everything
      ### Example
      * To be implemented

block append scripts
  script.
    require("/app/browser/home")()

