extends ../site/layout 
block variables
block body
  div#content !{markup}
block append scripts
  script#initial-state(type="application/json").
    !{employees}
  script.
    require('/app/browser/app.jsx')
